.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.104980;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.104980;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.101617;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.101617;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
input:not(.custom-file-input){
    font-family: ff3;
    line-height: 1.106934;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
    font-size: 64.000000pt;
    position: absolute;
    bottom: -5px;
    border: 0px ;
    background: transparent;
}
textarea{
    left:87px; 
    width:878px;
    font-family: ff4;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
    font-size: 21px;
    position: absolute;
    border: 0px ;
    background: transparent;
    padding-left: 15px;
    padding-right: 15px;
    line-height:25px;
}
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{width:1.856000pt;}
._2{width:4.480000pt;}
._3{width:7.040000pt;}
._0{width:9.792000pt;}
._5{width:11.712000pt;}
._6{width:13.312000pt;}
._1{width:15.040000pt;}
._8{width:311.360000pt;}
._7{width:317.952000pt;}
.fs3{font-size:48.000000pt;}
.fs2{font-size:53.333333pt;}
.fs0{font-size:64.000000pt;}
.fs1{font-size:80.000000pt;}
.y24{bottom:13.898664pt;}
.y23{bottom:27.697329pt;}
.y21{bottom:67.265340pt;}
.y20{bottom:82.597336pt;}
.y54{bottom:92.725337pt;}
.y1f{bottom:97.929342pt;}
.y53{bottom:96.124018pt;}
.y1d{bottom:113.910664pt;}
.y52{bottom:115.5227pt;}
.y1c{bottom:137.642679pt;}
.y76{bottom:147.117369pt;}
.y51{bottom:133.0pt;}
.y1b{bottom:161.374694pt;}
.y75{bottom:165.515970pt;}
.y50{bottom:152.319982pt;}
.y4f{bottom:171.718664pt;}
.y1a{bottom:185.106627pt;}
.y74{bottom:187.914651pt;}
.y92{bottom:191.914651pt;}
.y4e{bottom:191.117345pt;}
.y19{bottom:208.838642pt;}
.y91{bottom:214.313333pt;}
.y4d{bottom:209.515986pt;}
.y18{bottom:232.570657pt;}
.y73{bottom:229.71199pt;}
.y90{bottom:236.712011pt;}
.y4c{bottom:227.914668pt;}
.y72{bottom:248.110672pt;}
.y8f{bottom:251.110672pt;}
.y17{bottom:256.302672pt;}
.y4b{bottom:246.313349pt;}
.y71{bottom:266.509333pt;}
.y8e{bottom:269.909354pt;}
.y4a{bottom:265.71199pt;}
.y16{bottom:280.034687pt;}
.y70{bottom:285.907995pt;}
.y8d{bottom:288.908015pt;}
.y49{bottom:284.110672pt;}
.y15{bottom:303.766661pt;}
.y6f{bottom:304.306666pt;}
.y8c{bottom:307.306676pt;}
.y48{bottom:302.509313pt;}
.y6e{bottom:322.705327pt;}
.y14{bottom:327.498676pt;}
.y8b{bottom:325.705348pt;}
.y47{bottom:320pt;}
.y6d{bottom:342.103999pt;}
.y8a{bottom:345.104009pt;}
.y46{bottom:340.306676pt;}
.y13{bottom:351.230651pt;}
.y6c{bottom:360.50267pt;}
.y89{bottom:363.50268pt;}
.y45{bottom:358.705317pt;}
.y12{bottom:374.962666pt;}
.y6b{bottom:378.901337pt;}
.y88{bottom:382.01352pt;}
.y44{bottom:378.103999pt;}
.y6a{bottom:398.300003pt;}
.y11{bottom:398.694681pt;}
.y87{bottom:401.300018pt;}
.y43{bottom:396.50268pt;}
.y69{bottom:416.698668pt;}
.y86{bottom:419.698685pt;}
.y10{bottom:422.426655pt;}
.y42{bottom:414.901321pt;}
.y68{bottom:439.097350pt;}
.y41{bottom:434.300003pt;}
.yf{bottom:446.158670pt;}
.y40{bottom:452.698644pt;}
.y67{bottom:461.495991pt;}
.ye{bottom:469.890685pt;}
.y3f{bottom:472.097326pt;}
.y85{bottom:483.894672pt;}
.yd{bottom:493.622659pt;}
.y3e{bottom:490.496007pt;}
.y3d{bottom:508.894648pt;}
.yc{bottom:517.354674pt;}
.y3c{bottom:527.29333pt;}
.yb{bottom:541.086648pt;}
.y3b{bottom:546.692012pt;}
.ya{bottom:564.818663pt;}
.y3a{bottom:565.090673pt;}
.y9{bottom:588.550678pt;}
.y39{bottom:584.489334pt;}
.y66{bottom:595.887999pt;}
.y38{bottom:602.0pt;}
.y8{bottom:612.282653pt;}
.y65{bottom:618.286681pt;}
.y37{bottom:621.286657pt;}
.y7{bottom:636.014668pt;}
.y64{bottom:640.685323pt;}
.y84{bottom:640.685342pt;}
.y36{bottom:640.685338pt;}
.y63{bottom:655.084005pt;}
.y6{bottom:659.746662pt;}
.y35{bottom:659.084pt;}
.y83{bottom:663.084003pt;}
.y62{bottom:674.0pt;}
.y34{bottom:677.9pt;}
.y82{bottom:685.482656pt;}
.y61{bottom:692.881327pt;}
.y33{bottom:696.881322pt;}
.y81{bottom:698.881337pt;}
.y5{bottom:705.877338pt;}
.y60{bottom:711.279989pt;}
.y32{bottom:716.280004pt;}
.y80{bottom:717.279999pt;}
.y5f{bottom:729.67867pt;}
.y31{bottom:733.9pt;}
.y7f{bottom:736.67866pt;}
.y5e{bottom:748.077332pt;}
.y4{bottom:751.539991pt;}
.y30{bottom:753.077326pt;}
.y7e{bottom:754.677321pt;}
.y0{bottom:765.333333pt;}
.y5d{bottom:767.475993pt;}
.y1e{bottom:770.402658pt;}
.y2f{bottom:771.475998pt;}
.y7d{bottom:773.476003pt;}
.y3{bottom:778.538668pt;}
.y5c{bottom:785.874664pt;}
.y2e{bottom:789.874659pt;}
.y7c{bottom:791.874664pt;}
.y5b{bottom:804.0pt;}
.y2d{bottom:809.273331pt;}
.y7b{bottom:811.273326pt;}
.y5a{bottom:823.671997pt;}
.y2c{bottom:827.672002pt;}
.y7a{bottom:829.9pt;}
.y22{bottom:841.905350pt;}
.y59{bottom:843.070669pt;}
.y2b{bottom:847.070669pt;}
.y79{bottom:849.070658pt;}
.y58{bottom:861.469335pt;}
.y2a{bottom:865.469335pt;}
.y78{bottom:867.46933pt;}
.y57{bottom:879.868001pt;}
.y29{bottom:883.868000pt;}
.y77{bottom:885.868001pt;}
.y56{bottom:898.266666pt;}
.y28{bottom:904.266668pt;}
.y55{bottom:920.665333pt;}
.y27{bottom:923.665334pt;}
.y2{bottom:939.063999pt;}
.y26{bottom:943.063999pt;}
.y1{bottom:961.462666pt;}
.y25{bottom:965.462666pt;}
.h6{height:39.399996pt;}
.h7{height:42.773438pt;}
.h5{height:47.685185pt;}
.h2{height:57.031250pt;}
.h3{height:71.289062pt;}
.h4{height:141.600006pt;}
.h1{height:172.000000pt;}
.h0{height:1056.000000pt;}
.w2{width:128.733341pt;}
.w3{width:208.333337pt;}
.w1{width:474.000000pt;}
.w0{width:816.000000pt;}
.x9{left:35.453334pt;}
.x8{left:39.904001pt;}
.xa{left:43.239999pt;}
.xc{left:49.836000pt;}
.x6{left:75.600001pt;}
.x17{left:77.377334pt;}
.x7{left:84.533335pt;}
.x0{left:92.000000pt;}
.x16{left:96.342668pt;}
.xe{left:103.165334pt;}
.x10{left:109.296000pt;}
.x11{left:123.600001pt;}
.xf{left:190.778671pt;}
.xd{left:211.304001pt;}
.x1a{left:217.097336pt;}
.x14{left:230.077337pt;}
.x1b{left:271.186671pt;}
.x1{left:301.105331pt;}
.x4{left:333.201340pt;}
.x5{left:359.761337pt;}
.x2{left:370.065333pt;}
.x3{left:390.046677pt;}
.x1d{left:461.430669pt;}
.x18{left:501.146673pt;}
.x1c{left:505.146673pt;}
.x12{left:506.569321pt;}
.xb{left:528.233318pt;}
.x19{left:531.006658pt;}
.x15{left:539.146673pt;}
.x13{left:544.275986pt;}

