.xxx__container {
  background: #7070706e;
  padding: 10px 20px;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  box-sizing: border-box;
}

.xxx__container .xxx-button {
  font-size: .875rem;
  line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: .0892857143em;
  padding: 0 8px 0 8px;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  border: none;
  outline: none;
  line-height: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 4px;
  height: 30px;
  margin: 0 6px;
  cursor: pointer;
  background-color: #4c4747;
  color: white;
}

.xxx__container .xxx-button:active {
  /* font-weight: 600; */
  opacity: 1;
  /* border: 1px solid rgba(0,0,0,.3) !important; */
  box-shadow: inset 0px 0px 30px rgba(0, 0, 0, .4) !important;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  color: white;
  content: 'Chọn ảnh';
  display: inline-block;
  background-color: #4c4747;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}

.custom-file-input:hover::before {
  border-color: black;
}

.custom-file-input:active::before {
}