.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:2.132000px;}
._0{width:6.552000px;}
._3{width:59.124000px;}
._2{width:97.188000px;}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:40.000000px;}
.fs0{font-size:52.000000px;}
.fs3{font-size:56.000000px;}
.fs2{font-size:64.000000px;}
.fs1{font-size:104.000000px;}
.y4a{bottom:3.812000px;}
.y4c{bottom:4.461000px;}
.y19{bottom:14.595001px;}
.y49{bottom:18.761001px;}
.y18{bottom:26.094002px;}
.y17{bottom:37.592995px;}
.y16{bottom:49.091995px;}
.y1a{bottom:59.500000px;}
.y15{bottom:61.455997px;}
.y46{bottom:62.500000px;}
.y39{bottom:71.376012px;}
.y14{bottom:77.554996px;}
.y38{bottom:93.798985px;}
.y37{bottom:116.221992px;}
.y0{bottom:120.500000px;}
.y3a{bottom:127.000000px;}
.y12{bottom:132.436986px;}
.y36{bottom:138.644994px;}
.y11{bottom:154.860021px;}
.y35{bottom:161.068028px;}
.y54{bottom:163.844029px;}
.y34{bottom:183.491002px;}
.y53{bottom:186.267003px;}
.y33{bottom:205.913976px;}
.y52{bottom:208.690010px;}
.y32{bottom:228.337010px;}
.y51{bottom:231.113011px;}
.y31{bottom:250.759984px;}
.y50{bottom:254.327022px;}
.y10{bottom:266.975011px;}
.y30{bottom:273.182988px;}
.y4f{bottom:277.683995px;}
.yf{bottom:289.397985px;}
.y45{bottom:295.605992px;}
.y2f{bottom:297.980003px;}
.y4e{bottom:300.106999px;}
.ye{bottom:311.820989px;}
.y44{bottom:318.028996px;}
.y2e{bottom:323.203008px;}
.y4d{bottom:324.903984px;}
.yd{bottom:334.243993px;}
.y43{bottom:340.452001px;}
.y2d{bottom:345.626012px;}
.yc{bottom:356.666997px;}
.y42{bottom:362.875005px;}
.y2c{bottom:368.048985px;}
.yb{bottom:379.090001px;}
.y41{bottom:385.298009px;}
.y2b{bottom:390.471990px;}
.ya{bottom:401.513005px;}
.y40{bottom:407.721013px;}
.y2a{bottom:412.894994px;}
.y9{bottom:423.936009px;}
.y3f{bottom:430.143987px;}
.y29{bottom:435.317998px;}
.y8{bottom:446.359014px;}
.y3e{bottom:452.566991px;}
.y28{bottom:457.741002px;}
.y4b{bottom:457.753998px;}
.y7{bottom:468.781987px;}
.y48{bottom:476.651999px;}
.y3d{bottom:477.364006px;}
.y27{bottom:480.164006px;}
.y6{bottom:491.204991px;}
.y26{bottom:502.587010px;}
.y5{bottom:513.627995px;}
.y47{bottom:522.209999px;}
.y25{bottom:525.009999px;}
.y24{bottom:547.433003px;}
.y4{bottom:566.252007px;}
.y23{bottom:569.855992px;}
.y22{bottom:592.278996px;}
.y3c{bottom:592.278999px;}
.y3{bottom:592.791998px;}
.y21{bottom:614.702001px;}
.y13{bottom:621.478010px;}
.y20{bottom:637.125005px;}
.y1f{bottom:659.548001px;}
.y1e{bottom:681.970998px;}
.y1d{bottom:704.394002px;}
.y1c{bottom:726.816998px;}
.y2{bottom:735.440999px;}
.y1b{bottom:749.239999px;}
.y1{bottom:757.863999px;}
.y3b{bottom:771.662999px;}
.hc{height:20.398001px;}
.hb{height:31.898001px;}
.h7{height:35.644531px;}
.h2{height:46.337891px;}
.h6{height:49.902344px;}
.h4{height:57.031250px;}
.h3{height:92.675781px;}
.h5{height:107.099998px;}
.h1{height:651.000000px;}
.h9{height:658.500000px;}
.ha{height:700.500000px;}
.h8{height:726.000000px;}
.h0{height:842.000000px;}
.w4{width:90.900002px;}
.w6{width:99.500000px;}
.w2{width:116.500003px;}
.w7{width:134.500000px;}
.w5{width:162.500000px;}
.w1{width:479.500000px;}
.w3{width:482.500000px;}
.w0{width:595.349976px;}
.x1a{left:6.150000px;}
.x14{left:7.183000px;}
.x13{left:9.074000px;}
.xd{left:13.325000px;}
.xa{left:22.010000px;}
.xb{left:24.370999px;}
.x18{left:31.161000px;}
.x16{left:36.310999px;}
.x8{left:43.084001px;}
.xc{left:45.744998px;}
.x9{left:47.749999px;}
.x0{left:79.000000px;}
.xf{left:85.050003px;}
.x7{left:110.900001px;}
.x5{left:121.050003px;}
.x11{left:137.592003px;}
.x15{left:168.300004px;}
.x12{left:176.026005px;}
.x1{left:201.323006px;}
.x3{left:203.346001px;}
.x10{left:215.585007px;}
.x6{left:217.935005px;}
.x1b{left:223.437004px;}
.xe{left:247.366005px;}
.x2{left:258.820007px;}
.x1c{left:285.973007px;}
.x4{left:294.773010px;}
.x17{left:329.299997px;}
.x19{left:427.299997px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:2.842667pt;}
._0{width:8.736000pt;}
._3{width:78.832000pt;}
._2{width:129.584000pt;}
.fs4{font-size:53.333333pt;}
.fs0{font-size:69.333333pt;}
.fs3{font-size:74.666667pt;}
.fs2{font-size:85.333333pt;}
.fs1{font-size:138.666667pt;}
.y4a{bottom:5.082667pt;}
.y4c{bottom:5.948001pt;}
.y19{bottom:19.460002pt;}
.y49{bottom:25.014668pt;}
.y18{bottom:34.792002pt;}
.y17{bottom:50.123993pt;}
.y16{bottom:65.455994pt;}
.y1a{bottom:79.333333pt;}
.y15{bottom:81.941330pt;}
.y46{bottom:83.333333pt;}
.y39{bottom:95.168016pt;}
.y14{bottom:103.406662pt;}
.y38{bottom:125.065314pt;}
.y37{bottom:154.962657pt;}
.y0{bottom:160.666667pt;}
.y3a{bottom:169.333333pt;}
.y12{bottom:176.582648pt;}
.y36{bottom:184.859992pt;}
.y11{bottom:206.480028pt;}
.y35{bottom:214.757371pt;}
.y54{bottom:218.458706pt;}
.y34{bottom:244.654669pt;}
.y53{bottom:248.356004pt;}
.y33{bottom:274.551968pt;}
.y52{bottom:278.253347pt;}
.y32{bottom:304.449347pt;}
.y51{bottom:308.150682pt;}
.y31{bottom:334.346645pt;}
.y50{bottom:339.102695pt;}
.y10{bottom:355.966681pt;}
.y30{bottom:364.243984pt;}
.y4f{bottom:370.245327pt;}
.yf{bottom:385.863979pt;}
.y45{bottom:394.141323pt;}
.y2f{bottom:397.306671pt;}
.y4e{bottom:400.142666pt;}
.ye{bottom:415.761318pt;}
.y44{bottom:424.038662pt;}
.y2e{bottom:430.937344pt;}
.y4d{bottom:433.205312pt;}
.yd{bottom:445.658657pt;}
.y43{bottom:453.936001pt;}
.y2d{bottom:460.834682pt;}
.yc{bottom:475.555996pt;}
.y42{bottom:483.833340pt;}
.y2c{bottom:490.731981pt;}
.yb{bottom:505.453335pt;}
.y41{bottom:513.730679pt;}
.y2b{bottom:520.629320pt;}
.ya{bottom:535.350674pt;}
.y40{bottom:543.628017pt;}
.y2a{bottom:550.526658pt;}
.y9{bottom:565.248013pt;}
.y3f{bottom:573.525316pt;}
.y29{bottom:580.423997pt;}
.y8{bottom:595.145351pt;}
.y3e{bottom:603.422654pt;}
.y28{bottom:610.321336pt;}
.y4b{bottom:610.338664pt;}
.y7{bottom:625.042650pt;}
.y48{bottom:635.535998pt;}
.y3d{bottom:636.485341pt;}
.y27{bottom:640.218675pt;}
.y6{bottom:654.939988pt;}
.y26{bottom:670.116014pt;}
.y5{bottom:684.837327pt;}
.y47{bottom:696.279999pt;}
.y25{bottom:700.013332pt;}
.y24{bottom:729.910671pt;}
.y4{bottom:755.002675pt;}
.y23{bottom:759.807990pt;}
.y22{bottom:789.705329pt;}
.y3c{bottom:789.705332pt;}
.y3{bottom:790.389331pt;}
.y21{bottom:819.602667pt;}
.y13{bottom:828.637347pt;}
.y20{bottom:849.500006pt;}
.y1f{bottom:879.397335pt;}
.y1e{bottom:909.294664pt;}
.y1d{bottom:939.192003pt;}
.y1c{bottom:969.089331pt;}
.y2{bottom:980.587999pt;}
.y1b{bottom:998.986665pt;}
.y1{bottom:1010.485332pt;}
.y3b{bottom:1028.883999pt;}
.hc{height:27.197334pt;}
.hb{height:42.530668pt;}
.h7{height:47.526042pt;}
.h2{height:61.783854pt;}
.h6{height:66.536458pt;}
.h4{height:76.041667pt;}
.h3{height:123.567708pt;}
.h5{height:142.799998pt;}
.h1{height:868.000000pt;}
.h9{height:878.000000pt;}
.ha{height:934.000000pt;}
.h8{height:968.000000pt;}
.h0{height:1122.666667pt;}
.w4{width:121.200002pt;}
.w6{width:132.666667pt;}
.w2{width:155.333337pt;}
.w7{width:179.333333pt;}
.w5{width:216.666667pt;}
.w1{width:639.333333pt;}
.w3{width:643.333333pt;}
.w0{width:793.799967pt;}
.x1a{left:8.200000pt;}
.x14{left:9.577333pt;}
.x13{left:12.098667pt;}
.xd{left:17.766666pt;}
.xa{left:29.346667pt;}
.xb{left:32.494666pt;}
.x18{left:41.548000pt;}
.x16{left:48.414666pt;}
.x8{left:57.445334pt;}
.xc{left:60.993331pt;}
.x9{left:63.666665pt;}
.x0{left:105.333333pt;}
.xf{left:113.400004pt;}
.x7{left:147.866668pt;}
.x5{left:161.400004pt;}
.x11{left:183.456004pt;}
.x15{left:224.400006pt;}
.x12{left:234.701340pt;}
.x1{left:268.430674pt;}
.x3{left:271.128001pt;}
.x10{left:287.446676pt;}
.x6{left:290.580007pt;}
.x1b{left:297.916005pt;}
.xe{left:329.821340pt;}
.x2{left:345.093343pt;}
.x1c{left:381.297343pt;}
.x4{left:393.030680pt;}
.x17{left:439.066662pt;}
.x19{left:569.733329pt;}
}
